__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
.idea/
.vscode/
.git/
poetry.lock
dist/
build/
*.egg-info
# Node.js
node_modules/
bot/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
